.git/
.github/
.idea/
.vscode/
node_modules/
vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
tests/
public/hot
public/storage
*.log
*.cache
.DS_Store
Thumbs.db
